
<h1 class="section-tittle">{{ section.settings.heading }}</h1>



{% schema %}
  {
    "name": "Multiple Collage",
    "settings": [
					{
                      "type": "text",
                      "id": "heading",
                      "label": "Heading",
                      "default": "GET TREATMENT YOU DESERVE"
					}

				],
"presets": [
    {
      "name": "Multiple Collage"
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
