  .announcement_popup {
  position: absolute;
  background: #fff;
}
  span.desktop-close.close_icon {
    position: absolute;
    top: 30%;
    right: 10px;
}
  div#announcement-bar .announcement-bar__message {
  /* 	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0;
  padding-left:0;
  padding-right:0;
}
p.announcement-bar__message a {
  color: inherit;
  cursor: pointer;
}
div#announcement-bar {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  background-color: #2ECC87;
}
  div#announcement-bar svg.icon.icon-close-small {
  position: relative;
  top: -2px;

}
div#announcement-bar .page-width {
    position: relative;
}
/***** ANNOUNCEMENT BAR css starts ********/
div#announcement-bar .page-width {
    align-items: center;
    display: flex;
}
.announcement_popup .announcement_popup_inner .announcement_popup_msg .announcement_popup_msg_image span svg {
  width: 25px;
  height: auto;
  display: block;
}
.announcement_popup .announcement_popup_inner .announcement_popup_msg .announcement_popup_msg_text span.icon-small .pay_icon img.payment {
  WIDTH: 62PX;
}
.announcement_popup .announcement_popup_inner .announcement_popup_msg .announcement_popup_msg_text .col_custom.span-1-of-3:not(:last-child) {
  margin-bottom: 20px;
}
.announcement_popup .announcement_popup_inner .announcement_popup_msg .announcement_popup_msg_text .row_custom {
  margin-top: 20px;
}
.announcement_popup .announcement_popup_inner .announcement_popup_msg .announcement_popup_msg_text svg {
  width: 50px !important;
  height: auto !important;
  display: block;
}
.announcement_popup .announcement_popup_inner .announcement_popup_msg .announcement_popup_msg_text span.icon-small {
  display: flex;
  flex-wrap: wrap;
}
.announcement_popup .announcement_popup_inner .announcement_popup_msg .announcement_popup_msg_text span.icon-small h4 {
  width: 100%;
  margin: 0 0 10px 0;
  font-size:15px;
  color:#000;
  font-weight: 700;
}
.announcement_popup .announcement_popup_inner .announcement_popup_msg .announcement_popup_msg_text span.icon-small .pay_icon {
  margin-right: 7.5px;
  margin-bottom:6px;
}
div#announcement-bar .announcment_bar_new svg {
  display: block;
  width: 25px;
  height: 22px;
}
div#announcement-bar {
  padding: 0px 0;
}
div#announcement-bar .image_svg_text_inner {
    padding: 6px 0;
}
div#announcement-bar span.close_icon a {
  display: flex;
  align-items: center;
}
div#announcement-bar .page-width .image_svg_text p.announcement-bar__message.h5 {
  text-decoration: underline;
  text-underline-offset: 2px;
  font-style: normal !important;
}
div#announcement-bar .page-width  .image_svg_text {
  align-items: center;
}
div#announcement-bar .page-width .image_svg_text span {
  margin-right: 10px;
}
div#announcement-bar .page-width .image_svg_text p.announcement-bar__message.h5 {
  text-align: left;
}
div#announcement-bar .page-width .image_svg_text {
  align-items: center;
}
.announcment_bar_new {
  cursor: pointer;
}
.announcement_popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000047;
  z-index: 9;
}
div#announcement-bar svg.icon.icon-close-small {
  position: relative;
  display: block;
  top: -7px;
}
.announcement_popup .announcement_popup_inner {
  position: absolute;
  background: #fff;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem;
  border-radius: 25px;
  max-width: 400px;
}
.announcement_popup .announcement_popup_inner .announcement_popup_close {
  position: absolute;
  top: 0;
  left: 100%;
  cursor:pointer;
}
.announcement_popup .announcement_popup_inner .announcement_popup_close svg.icon path {
  fill: #fff;
}
/* div#announcement-bar .announcment_bar_new svg path {
stroke: #fff;
} */
.announcement_popup .announcement_popup_inner .announcement_popup_msg .announcement_popup_msg_image svg path {
  stroke: #2ecc87;
}
.announcement_popup .announcement_popup_inner .announcement_popup_msg {
  display: flex;
}
.announcement_popup .announcement_popup_inner .announcement_popup_msg .announcement_popup_msg_image {
  width: 60px;
}
.announcement_popup .announcement_popup_inner .announcement_popup_msg .announcement_popup_msg_text {
  width: calc(100% - 60px);
}
.announcement_popup .announcement_popup_inner .announcement_popup_msg .announcement_popup_msg_text p {
  margin: 0;
}
.announcement_popup .announcement_popup_inner .row_custom h4 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0;
}
.announcement_popup .announcement_popup_inner .announcement_popup_msg .announcement_popup_msg_image span {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #2ecc87;
  align-items: center;
  justify-content: center;
}

.announcement_popup .announcement_popup_inner .announcement_popup_msg .announcement_popup_msg_text p.popup_heading {
  font-size: 13px;
  line-height: 19px;
  font-weight: 700;
  text-transform: uppercase;
  color:#000;
}
div#announcement-bar span.close_icon svg.icon.icon-close-small {
  top: 0;
}
.announcement_popup .announcement_popup_inner .announcement_popup_msg .announcement_popup_msg_text p.popup_description span {
    color: #2ecc87;
}
.announcement_popup .announcement_popup_inner .announcement_popup_msg .announcement_popup_msg_text p.popup_description {
  font-size: 12px;
  margin: 10px 0 0 0;
  text-transform: uppercase;
  line-height: 18px;
  color:#000;
      font-weight: 500;
}
  .min_top{position: relative; width:100%;  -webkit-transition: all 0.4s ease; transition: all 0.4s ease; }
  .min_top.sticky { width: 100%; z-index:999; position: fixed; left:0; opacity:1; top:0;}
  .announcement-bar__message {
    background-color : #2ECC87;
    color : #FFFFFF;
  }
  div#announcement-bar span.close_icon {
   
  }
  div#announcement-bar .announcement-bar__message {
    /* 	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0;
    padding-left:0;
    padding-right:0;
    text-align: center;
    padding: .7rem 0rem;
    margin: 0;
    position: relative;
  }
  div#announcement-bar .announcement-bar__message span.close_icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  div#announcement-bar .announcement-bar__message span.close_icon a {
    display: flex;
  }

  p.announcement-bar__message a {
    color: inherit;
    cursor: pointer;
  }
  div#announcement-bar {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    background-color: #2ECC87;
    position: relative;
  }
  .header__menu-item {
    font-size: 16px;
    color: #000000;
    font-weight: 500;
  }
  div#announcement-bar svg.icon.icon-close-small {
    position: relative;
  }

  div#announcement-bar .page-width {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;

  }
  div#announcement-bar .page-width  .image_svg_text {
    display: flex;
  }
@media screen and ( min-width: 990px ) {
    .announcement_popup.mobile {
    display: none !important;
  }
  div#announcement-bar .announcment_bar_new:last-child .announcement_popup .announcement_popup_inner {
    left: unset;
    right: 0;
  }
  div#announcement-bar .image_svg_text_inner {
    position: relative;
  }
  .announcement_popup .announcement_popup_inner {
    top: 100%;
    left: 0;
    transform: none !important;
    max-width: 410px;
    width: 410px;
    margin-top: 10px;
  }
  .announcment_bar_new:nth-child(4) .announcement_popup_inner {
    left: -40%;
  }
  .announcement_popup:before {
    content: '';
    position: fixed;
    background: #00000061;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  .announcement_popup {
    position: relative !important;
  }
    body.current_opend_popup_cls {
    overflow: hidden;
  }
}
     @media(min-width:990px)
  {
  div#announcement-bar span.mobile-close.close_icon {
    display: none;
}
  }
  @media screen and (max-width: 991px) {
    div#announcement-bar .page-width {
    flex-wrap: wrap;
  }
  div#announcement-bar .announcment_bar_new svg {
    width: 20px;
    height: 20px;
  }

  div#announcement-bar .page-width .image_svg_text p.announcement-bar__message.h5 {
    text-decoration: underline;
    text-underline-offset: 2px;
    font-size: 11px;
  }
          div#announcement-bar .page-width .image_svg_text {
    justify-content: center;
  }
  }

  
  @media(max-width:989px)
  {
      .announcement_popup.desktop {
    display: none !important;
  }
  div#announcement-bar span.close_icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
    
    div#announcement-bar .page-width {opacity: 0;visibility: hidden;transition: 0.25s ease-out; display:flex; flex-wrap: nowrap;}

    div#announcement-bar .page-width.slick-initialized.slick-slider {opacity: 1;visibility: visible;}
  }
  @media screen and (max-width: 768px) {
    .announcement_popup .announcement_popup_inner {
    padding: 1.5rem;
}
   .announcement_popup .announcement_popup_inner .announcement_popup_msg .announcement_popup_msg_image span svg {
    width: 18px;

  }
 
  .announcement_popup .announcement_popup_inner .announcement_popup_msg .announcement_popup_msg_text {
    width: calc(100% - 40px);
  }
  .announcement_popup .announcement_popup_inner {
    width: 400px;
    
    max-width: 85%;
  }
  .announcement_popup .announcement_popup_inner .announcement_popup_msg .announcement_popup_msg_text p.popup_heading {
    font-size: 12px;
    line-height: 18px;
}
  .announcement_popup[data-str="Free Shipping"] .announcement_popup_inner .announcement_popup_msg .announcement_popup_msg_image span svg {
    width: 23px;
}
  .announcement_popup .announcement_popup_inner .announcement_popup_msg .announcement_popup_msg_text p.popup_description {
    font-size: 11px;
    font-style: italic;
}
  }
  @media(max-width:576px)
  {
    div#announcement-bar .page-width {
      padding: 0 1rem;
    }
    div#announcement-bar .announcement-bar__message {
      font-size: 14px;
    }
    div#announcement-bar span.close_icon {
      right: 5px ;
    }
.announcement_popup .announcement_popup_inner {
    max-width: 80%;
    width: 80%;
  }
  .announcement_popup .announcement_popup_inner .announcement_popup_msg .announcement_popup_msg_text span.icon-small .pay_icon img.payment {
    WIDTH: 60PX;
  }
  }
  @media screen and ( max-width:420px ) {
  .announcement_popup .announcement_popup_inner .announcement_popup_msg .announcement_popup_msg_image span svg {
    width: 20px;
  }
  
  .announcement_popup .announcement_popup_inner {
    padding: 1.5rem;
  }
 
  .announcement_popup .announcement_popup_inner .announcement_popup_msg .announcement_popup_msg_text {
    width: calc(100% - 45px);
  }
}